.dropdown-title {
    float: left;
    padding-left: 8px;
    padding-top: 10px;
    padding-bottom: 8px;
    width: 240px;
    display: flex;
    overflow: hidden;
  }
  .drop-down-icon {
    width: 23px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 8px;
  }
  .dropdown--neutral img {
    filter: brightness(1);
  }
  .dropdown--description img {
    filter: brightness(10);
  }
  .dropdown {
    display: inline-block;
    min-height: 35px;
    width: 280px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  .dropdown--primary {
    color: black;
    z-index: 2;
  }
  .dropdown--description {
    color: white;
    z-index: 2;
  }
  .dropdown--neutral {
    z-index: 2;
    
  }
  .dropdown--neutral:hover {
    background: rgba(128, 128, 128, 0.493);
  }
  .dropdown--primary--title {
    background-color: #1dd4ce;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: none;
  
  }
  .dropdown--primary--title:hover {
    background: #1dd4cea2;
  }
  .dropdown--primary--content {
    background: #49b9b6;
    width: inherit;
    position: absolute;
    z-index: 1;
  }
  .dropdown--primary--content-item,
  .dropdown--description--content-item,
  .dropdown--neutral--content-item {
    text-decoration: none;
    cursor: pointer;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    display: flex;
  }
  .dropdown--neutral--title,
  .dropdown--primary--title,
  .dropdown--description--title {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .dropdown--neutral--content,
  .dropdown--primary--content,
  .dropdown--description--content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .dropdown--primary--content-item {
    color: black;
  }
  .dropdown--primary--content-item:hover {
    background: #1dd4ce;
  }
  .dropdown--description--content-item {
    color: white;
  }
  .dropdown--description--title:hover {
    background: #2c3e508e;
  }
  .dropdown--description--content-item:hover {
    background: #2c3e50;
  }
  .dropdown--description--content {
    background-color: #516375;
    width: inherit;
    position: absolute;
    z-index: 1;
  }
  .dropdown--description--title {
    background: #2c3e50;
    color: white;
  }
  .dropdown--neutral--title {
    background-color: #d1d6d6;
  }
  .dropdown--neutral--title:hover {
    background-color: #9a9e9e;
  }
  .dropdown--neutral--content {
    background-color: #d1d6d6;
    width: inherit;
    position: absolute;
    z-index: 1;
  }
  .dropdown--neutral--content-item {
    color: black;
  }
  .dropdown--neutral--content-item:hover {
    background: #5d636952;
  }
  
  .search-dropdown {
    font-size: 16px;
    background: inherit;
    outline: none;
    border: none;
    float: left;
    padding-left: 6px;
    padding-top: 14px;
    padding-bottom: 14.5px;
    width: 240px;
    border-top-left-radius: 5px;
  }
  .search-dropdown:hover {
    background: none;
  }
  
  