.indeterminate-checkbox::before {
    pointer-events: initial;
    cursor: pointer;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    border: 2px solid #d0cece;
    background-color: white;
    border-radius: 3px;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 1;
}

.indeterminate-checkbox::after {
    cursor: pointer;
    content: "";
    display: block;
    height: 16px;
    width: 16px;
    background: url("./assets/iconmonstr-minus-1-240.png") no-repeat;
    opacity: 0;
    background-size: 16px 16px;
    position: absolute;
    top: 9px;
    left: 9px;
    z-index: 2;
    transition: opacity .1s linear;
}

.checkbox-input:checked+.indeterminate-checkbox::before {
    background-color: #1DD4CE;
    border: 2px solid #1DD4CE;
}

.checkbox-input:checked+.indeterminate-checkbox::after {
    opacity: 1;
}

.checkbox-input:disabled+.indeterminate-checkbox::before {
    border: 2px solid #e9e8e8;
    cursor: default;
}

.checkbox-input:disabled+.indeterminate-checkbox::after {
    cursor: default;
}

.checkbox-input:checked:disabled+.indeterminate-checkbox::before {
    background-color: #949191;
    border: 2px solid #949191;
    cursor: default;
}

.checkbox-input:checked:disabled+.indeterminate-checkbox::after {
    opacity: 1;
}